<details open>
    <summary>Block Layout</summary>
    <div id="blocks" class="block-layout"></div>
</details>

{{#include ../../../common/block-layout-base.html}}

<script>
    const blocks = new VisualLayout(document.getElementById('blocks'), 512);

    blocks.insertBlocks(10);
    blocks.insertBlocks(1, 'yellow', 'Player Info');
    blocks.insertBlocks(27);
    blocks.insertBlocks(3, 'pale-red', 'PC / Box Layout');
    blocks.insertBlocks(829);
</script>
