<details open>
    <summary>Block Layout</summary>
    <div id="blocks" class="block-layout"></div>
</details>

{{#include ../../../common/block-layout-base.html}}

<script>
    const blocks = new VisualLayout(document.getElementById('blocks'));

    // TODO: Make Unknown/Padding visibly special

    blocks.insertBlocks(4, null, 'Trainer IDs');
    blocks.insertBlocks(1, null, 'Game');
    blocks.insertBlocks(1, null, 'Gender');
    blocks.insertBlocks(0x142E - 0x1405, null, null);
    blocks.insertBlocks(1, null, 'Sub Region');
    blocks.insertBlocks(1, null, 'Country');
    blocks.insertBlocks(4, null, null);
    blocks.insertBlocks(1, null, 'Console Region');
    blocks.insertBlocks(1, null, 'Language ');
    blocks.insertBlocks(2, null, 'Padding');
    blocks.insertBlocks(0x18, null, 'Player Name');
    blocks.insertBlocks(4, null, 'Padding');
    blocks.insertBlocks(1, null, 'Skin Tint (*)');
    blocks.insertBlocks(3, null, 'Padding');
    blocks.insertBlocks(1, null, 'Multiplayer Sprite ID');
    blocks.insertBlocks(0x1E, null, null);
    blocks.insertBlocks(1, null, 'Special Move Unlocks');
    blocks.insertBlocks(1, null, null);
    blocks.insertBlocks(1, null, 'Ball Throw Style');
    // blocks.insertBlocks(0x185, null, 'Padding');
</script>
